<!-- <div class="product">
    <div class="product-image">
           <img src="http://localhost/{{movie.image}}"/>
    </div>
    <div class="h3">{{movie.movie}}</div>
    <div class="h6">{{movie.genre}}</div>
    <div class="h6">{{movie.rating}}</div>
</div> -->

<div class="card product bg-dark" style="width: 12rem; height: 19rem; margin-left: 20px;">
    <img class="card-img-top" src="http://localhost//{{movie.image}}">
    <!-- <div class="card-body">
      <p class="card-text">joker</p>
      <p class="card-text">comedy</p>

    </div> -->
  </div>