<h1 style="padding: 20px;">Review the lastest movies</h1>
<div class="card product" style="width: 18rem; margin-left: 20px;">
    <img class="card-img-top" src="http://localhost//JOKER.jpg" >
    <div class="card-body">
      <p class="card-text">joker</p>
      <p class="card-text">comedy</p>

    </div>
  </div>

  <div class="card product" style="width: 18rem; margin-left: 20px;">
    <img class="card-img-top" src="http://localhost//JOKER.jpg" >
    <div class="card-body">
      <p class="card-text">joker</p>
      <p class="card-text">comedy</p>

    </div>
  </div>

  <div class="card product" style="width: 18rem; margin-left: 20px;">
    <img class="card-img-top" src="http://localhost//JOKER.jpg" >
    <div class="card-body">
      <p class="card-text">joker</p>
      <p class="card-text">comedy</p>

    </div>
  </div>

  <div class="card product" style="width: 18rem; margin-left: 20px;">
    <img class="card-img-top" src="http://localhost//JOKER.jpg" >
    <div class="card-body">
      <p class="card-text">joker</p>
      <p class="card-text">comedy</p>

    </div>
  </div>

  <div class="card product" style="width: 18rem; margin-left: 20px;">
    <img class="card-img-top" src="http://localhost//JOKER.jpg" >
    <div class="card-body">
      <p class="card-text">joker</p>
      <p class="card-text">comedy</p>

    </div>
  </div>
  