<nav class="navbar navbar-expand-lg navbar-light y-6">
    <div class="container">
      <a class="navbar-brand" href="#">MOVREV</a>
<!--       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto ps-5 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">movies</a>
          </li>
        </ul>

        <div class="d-flex">
          <!-- Button trigger modal -->
          <img style="width: 5%; height: 2%; margin-top: 3px; margin-left: 89%;" data-bs-toggle="modal" data-bs-target="#loginModal" src="http://localhost//logfig.png">
          <a style="margin-top: 5px; margin-left: 5px;" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
          <!-- <button type="button" class="btn btn-info px-4 bg-dark text-white" data-bs-toggle="modal" data-bs-target="#loginModal">
            Login
          </button> -->
        </div>

      </div>
    </div>
  </nav>

 <!--  <img src="http://localhost//deadpool.png"> -->
 <img class="imageclass"src="http://localhost//loginimg-overlay.jpg" style="width:100%;">
 <!--  space for masanory view of comments  -->
 <img class="darkbackground" src="http://localhost//black overlay.jpg" style="width:100%;height:230%; position: absolute; margin-top: 50%;">
<div class="overlayimage" style="position: relative;margin-top: 10%; color:white; margin-left: 60px; ">
  <h1 style="font-size: 750%;">Review the world</h1>
<h1 style="font-size: 550%;margin-top: 80px;">of movies</h1>
<p style="font-size: 170%; margin-top: 12%; margin-left: 10px;">Unlimited movies </p>
</div>

<div style="margin-top: 20%; position: relative; display: inline-block; width: 95%; margin-left: 50px;">
<app-moviescrolldisplay></app-moviescrolldisplay>
</div>
<!-- 
 <div class="container bg-dark"style="margin-top: 10%">

  <h1 style="color:whitesmoke">Best Quotes Of All</h1>

  <div class="card-columns">

    <div class="card" style="border: none;">
      <img class="card-img-top img-fluid" src="http://localhost//doctor strange.jpg" Card image cap>
      <div class="card-body bg-dark" style="color: white;">
        <h4 class="card-title">'Doctor Strange in the Multiverse of Madness' (2022)</h4>
        <p class="card-text">“Trust Yourself, Trust Your Power – That’s How You Stop It.”</p>
      </div>
    </div>


    <div class="card p-3 card-outline-primary" style="border: none;">
      <blockquote class="card-block card-blockquote">
        <footer>
          <small class="text-muted">
            May the Force be with you.” - Star Wars,
        </small>
        </footer>
      </blockquote>
    </div>


    <div class="card text-center">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h4 class="card-title">“I'll be back.”</h4>
        <p class="card-text">-The Terminator</p>
        <img class="card-img img-fluid" src="http://localhost//arnold.jpg" alt="Card image">
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>


    <div class="card " style="background-color: #979595; border-color: #f4efef;">
      <div class="card-header">
        Quote
      </div>
      <div class="card-body">
        <blockquote class="card-blockquote">
          You're gonna need a bigger boat." — "Jaws," 
          <footer> — "Jaws," <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
      </div>
    </div>


    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">IAM IRONMAN</li>
        <li class="list-group-item">Wonder Women</li>
        <li class="list-group-item">Taylor Swift</li>
      </ul>
    </div>

    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> </h4>
        <p class="card-text">You Wanna Know How I Got These Scars?-JOKER</p>
      </div>
      <img class="card-img-bottom img-fluid" src="http://localhost//JOKER.jpg" alt="Card image cap">
    </div>


    <div class="card card-inverse">
      
        <img class="card-img img-fluid" src="http://localhost//love3000.jpg" alt="Card image">

        <div class="card-img-overlay">
          <h4 class="card-title">“I love you 3000.”- Tony Stark</h4>
        </div>
    
    </div>

    <div class="card card-inverse" style="background-color: #c2aeae; border-color: #f4efef;">
      <div class="card-body">
        <h3 class="card-title">Listen, Rose. ...</h3>
        <p class="card-text">-jack(titanic)</p>
        <img class="card-img img-fluid" src="http://localhost//titanic.jpg" alt="Card image">
      </div>
    </div>


    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
  
        </ul>
      </div>


      <div class="card-body">

        <div class="tab-content">
          <div class="tab-pane active" id="tab1" role="tabpanel">
            <h4 class="card-title">SPIDERMAN <span class="badge badge-default">1</span></h4>
            <p>“With great power comes great responsibility.”</p>
          </div>
          
        </div>

      </div>
    </div>


    <div class="card card-inverse card-primary p-3 text-center">
      <blockquote class="card-blockquote">
        .card-blockquote
        <footer>
          <small>
        leonardo dicaprio said once <cite title="Source Title">“You don't choose who you fall in love with, do you?</cite>
        </small>
        <img class="card-img img-fluid" src="http://localhost//leonardo dicaprio.jpg" alt="Card image">
        </footer>
      </blockquote>
    </div>

    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title">THE ROCK</h4>
        <p class="card-text">“There will always be rocks in the road ahead of us.“</p>
      </div>
    </div>

    <div class="card">
      <img class="card-img img-fluid" src="http://localhost//rock.jpg" alt="Card image">
    </div>

    <div class="card p-3 text-right">
      <blockquote class="card-blockquote">
        Rock is a great master of life
      </blockquote>
    </div>

    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Thanos</h4>
        <p class="card-text"> "You Should Have Gone For The Head."</p>
        <img class="card-img img-fluid" src="http://localhost//thanos.jpg" alt="Card image">
      </div>
    </div>
  </div>


 </div>
/.card-columns -->

<!-- /.container -->


 <div style="margin-top: -5%;">
  
<app-displaycards></app-displaycards>
</div>



  <!-- Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Login Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

        <!------------login part -------------------->
            <div id="login-card" *ngIf="logform">
                    <div id="log-table">
                         <div>
                             <label>Email</label>
                             <input type="text" class="form-control" [(ngModel)]="email">
                         </div>
                         <div>
                             <label>Password</label>
                             <input type="password" class="form-control" [(ngModel)]="password">
                         </div>
                         <div>
                          <button  (click)="login()" class=" mt-3 btn btn-primary w-100">Login</button>
                         </div>
                         <div>
                             
                             <span 
                                 style="text-align:center; color: lightgreen" (click)="toggle()">Not Registered yet? Click here</span>
                         </div>
                        </div>
                    <div class="loading" *ngIf="status"><img src="http://localhostloading.gif"></div>
                    <div class="errors">{{error}}</div>
                    
                </div>

                <!----------------register ------------------------->
                <div id="login-card" *ngIf="!logform">
                        <div id="log-table">
                             <div>
                                 <label>Username</label>
                                 <input type="text" class="form-control" [(ngModel)]="rusername">
                             </div>
                             <div>
                                 <label>Password</label>
                                 <input type="password" class="form-control" [(ngModel)]="rpassword">
                             </div>
            
                             <div>
                                <label>Verify Password</label>
                                <input type="password" class="form-control" [(ngModel)]="vpassword">
                             </div>
            
                            <div>
                                <label>Email</label>
                                <input type="text" class="form-control" [(ngModel)]="remail">
                            </div>
                             <div>
                                 
                            <button (click)="register()" class=" mt-3 btn btn-primary w-100">Register</button>
                             </div>                             <tr>
                            <div>  
                                 <span style="text-align:center; color: lightgreen" (click)="toggle()">Not Registered yet? Click here</span>
                            </div>
                            </div>
                        <div class="loading" *ngIf="status"><img src="http://localhostloading.gif"></div>
                        <div class="errors">{{rerror}}</div>
          
        </div>
      </div>
    </div>
  </div>

